.link_button a{
    font-size:18px;
    margin-right:10px;
    text-decoration:none;
    color:white !important

}
.Title a{
    color:white !important
}
.manage_table {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
