USE [master]
GO
/****** Object:  Database [demoWF]    Script Date: 8/20/2020 3:49:39 PM ******/
CREATE DATABASE [demoWF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'demoWF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\demoWF.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'demoWF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\demoWF_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [demoWF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [demoWF]
GO
/****** Object:  Table [dbo].[user]    Script Date: 8/20/2020 3:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[email] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[role] [nvarchar](50) NULL,
	[sdt] [nvarchar](50) NULL,
	[hoten] [nvarchar](50) NULL,
	[namsinh] [date] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([email], [password], [role], [sdt], [hoten], [namsinh], [id]) VALUES (N'donle2044@gmail.com', N'cuem.t98', N'Admin', N'01639159882', N'Lê Quý Đôn', CAST(N'1998-01-01' AS Date), 1)
INSERT [dbo].[user] ([email], [password], [role], [sdt], [hoten], [namsinh], [id]) VALUES (N'dongle2044@gmail.com', N'cuem.t98', N'User', N'01639159882', N'Lê Văn dong', CAST(N'1998-01-01' AS Date), 2)
SET IDENTITY_INSERT [dbo].[user] OFF
GO
USE [master]
GO
